<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <style>
      .login-buttons {
        margin-top: 10px;
        text-align: right;
      }
    </style>

    <title>
        {% block page_title %}
        Meal planner
        {% endblock page_title %}
    </title>
  </head>

  <body>
    {% block login_buttons %}
      <div class="login-buttons">
        {% if user.is_authenticated %}
        <a class="button" href="{% url 'logout' %}">Log out {{user.get_full_name}} </a>
        {% else %}
        <a class="button" href="{% url 'login' %}">Log in</a>
        {% endif %}
      </div>
    {% endblock login_buttons %}

    {% block content %}

    {% endblock content %}

    {% block js %}
    <script>
        function goBack(fallbackUrl){
            if(history.length > 1 ){ history.back() } else { window.location.href=fallbackUrl };
        }
    </script>
    {% endblock js %}
</body>
</html>
