{% extends "base.html" %}

{% block page_title %}
Meal planner
{% endblock page_title %}

{% block content %}
    <header>
        <h1>Your dishes</h1>
    </header>

    <form class="search-box" action="." method="get">
        <input name="q" type="text" placeholder="Search..."  value="{{ request.GET.q }}">

        <button type="submit">Search</button>

        <a href="{% url 'dish-list' %}" class="button">Reset</a>

    </form>

    <ul>
        {% for dish in dishes %}
            <li>
                <a href='{% url "dish-update" dish.id %}'>
                  {{dish.title}}
                </a>

                <a class="button button-small" href='{% url "meal-add" %}?dish_id={{ dish.id }}'>
                    Plan it!
                </a>
            </li>
        {% endfor %}
    </ul>

    <p>
    <input value="Add a new dish" type="button"
    onclick="location.href='{% url "dish-add"%}?term={{request.GET.q}}'"/>
    </p>

    <h3>Meal inspiration</h3>

    <p class="standfirst">How about these dishes?</p>

    <ul>
        {% for dish in dish_suggestions %}
        <li>
            <a href='{% url "dish-update" dish.id %}'>
                {{dish.title}}
            </a>
            {% if dish.get_latest_meal.date %}
            – last used: {{dish.get_latest_meal.date}}
            {% endif %}

            <a class="button button-small" href='{% url "meal-add" %}?dish_id={{ dish.id }}'>
                Plan it!
            </a>
        </li>
        {% endfor %}
    </ul>

    <p>
        <a href='{% url "meal-schedule" %}'/>Return to meal schedule</a>
    </p>

{% endblock content %}