{% extends "base.html" %}
{% load chef_tags %}
{% block page_title %}
Meal planner
{% endblock page_title %}

{% block page_class_attr %}class="meal-schedule"{% endblock page_class_attr %}

{% block content %}
<header>
  <h1>Meal schedule</h1>
</header>

<ul class="meal-schedule">
  {% for meal_week_label, meals_for_that_week in meals.items %}
    <li {% if meal_week_label == current_week_label %}class="current-week"{% endif %}>
      <h2>{{meal_week_label}}</h2>
      <ul class="meal-week">
        {% for date_key, meals_on_day in meals_for_that_week.items %}
          {% if not meals_on_day %}
            <li>
              <span class="date">{{date_key|friendly_date}}</span>
              <p class="no-meals">No meals scheduled today</p>
            </li>
          {% else %}
          <li>
            <span class="date">{{date_key|friendly_date}}</span>
            {% for meal in meals_on_day %}
              <p class="meal">
                <a href='{% url "meal-update" meal.id %}'>
                    {{ meal.dish.title }}
                </a>
              </p>
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>

  {% endfor %}
</ul>



<p>
  <a href="{% url 'dish-list' %}">Browse your library of dishes</a>
</p>

<p>
  <input value="Schedule a new meal" type="button"
  onclick="location.href='{% url "meal-add"%}'"/>
  </p>



<p>
  <a href="{% url 'meal-list' %}">View all meals</a>
</p>
{% endblock content %}
