h2 {
    font-weight: 200
}


.login-buttons {
    margin-top: 10px;
    text-align: right;
}
ul.meal-schedule,
ul.meal-week {
    list-style: none;
    padding-left: 0;
}

body.meal-schedule {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

li.current-week ul.meal-week li{

    background-color: rgb(255, 255, 136);
}

ul.meal-week {

    display: grid;
    grid-template-columns: repeat(7, minmax(150px, max-content));
    gap: 10px;

    hr {
        border: 1px solid gray;
        background: none;
        width: 100%
    }

    li {
        display: grid;
        grid-template-rows: 30px 5fr;
        padding: 5px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 5px;


        span.date {
            border-bottom: 1px solid black;
            display: block;
            font-weight: bold;
        }
    }
}
