h2 {
    font-weight: 200
}


.login-buttons {
    margin-top: 10px;
    text-align: right;
}
ul.meal-schedule,
ul.meal-week {
    list-style: none;
    padding-left: 0;
}

body.meal-schedule {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}

ul.meal-week {

    display: grid;
    gap: 10px;

    @media(width <= 480px) {
        grid-template-rows: repeat(7, min-content(120px));
    }

    @media( 480px < width <= 1140px) {
        grid-template-columns: repeat(4, minmax(125px, 500px));
    }

    @media(width > 1140px) {
        grid-template-columns: repeat(7, minmax(150px, 500px));
    }

    hr {
        border: 1px solid gray;
        background: none;
        width: 100%
    }

    li {
        display: grid;
        grid-template-rows: 30px 5fr;
        padding: 5px;
        border-style: solid;
        border-color: gray;
        border-width: 1px;
        border-radius: 5px;

        p.meal {
            word-wrap: anywhere;
        }

        span.date {
            border-bottom: 1px solid black;
            display: block;
            font-weight: bold;
        }
    }
}

li.current-week ul.meal-week li{
    background-color: rgba(60, 60, 240, 0.2);
    @media (prefers-color-scheme: light) {
        background-color: #3EACF5;
        span {
            color: white;
            border-color: white;
        }
    }
}